.titulo{
    display: flex;
    justify-content: center;
    align-content: center;
    letter-spacing: 3px;  
    font-size: 26px; 
    font-family: 'Open Sans', sans-serif;
  }
  .buscar{
    width: 60%;
    height: 30px;
    max-width: 300px;
    border-radius: 10%/80%;
    box-shadow: 0 0 5px #ffffff;
    border: 3px double white;
    background-image: url('../../../public/imagenes/lupa.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    text-align: center;   
    background-color: #1976D2; 
    font-size: 20px;
      
  }
  .buscar:focus{
    outline:none;
   
  }
  .buscar::placeholder{
    color:white;
    font-size: 20px;
  }
  .animarFlash{
   animation: animarFlash .3s;
  }
  @keyframes animarFlash{
    0%{top:-50px;transform:rotate(30deg) scale(1.5)}
    10%{top:-40px;transform: rotate(30deg) scale(1.5)}
    20%{top:-30px;transform: rotate(30deg) scale(1.5)}
    30%{top:-10;transform: rotate(30deg) scale(1.5)}
    40%{top:0px;transform: rotate(30deg) scale(1.5)}
    50%{top:20; transform: rotate(30deg) scale(1.5)}
    60%{top:30; transform: rotate(30deg) scale(1.5)}
    70%{top:40px;transform: scale(1.5)}
    80%{top:30px;transform: scale(1.5)}
    90%{top:20px;transform: scale(1.5)}
    100%{top:0px;transform: scale(1)}
  }